<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('会员列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/refundsManage";

        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "退货管理",
                columns: [
                {
                    field: 'id', 
                    title: '订单详细ID',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '订单编号'
                },
                {
                    field: 'goodName',
                    title: '商品名'
                },
                {
                    field: 'prices',
                    title: '价格'
                },
                {
                    field: 'numberOf',
                    title: '数量'
                },
                {
                    field: 'updateTime',
                    title: '退货时间'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>