<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('会员列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row" style="height: auto">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>商品码：</label>
                            <input type="text" name="barCode"/>
                        </li>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="table-striped col-sm-6 " style="height: 500px;overflow: auto;">
            <table id="bootstrap-table"></table>
        </div>
        <div class="table-striped table-responsive col-sm-6">
            <h3>购物车</h3>
            <table id="good-list"></table>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-category-add">
        <div class="form-group">
                <label class="col-sm-1 control-label">支付方式：</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" class="icheck" id="cash" value="2" checked="checked" name="payType"/>现金
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="icheck" id="isMember"  value="1" name="payType"/>会员卡
                    </label>
                </div>
            </div>
            <div class="form-group vipBox" hidden>
                <label class="col-sm-1 control-label">会员手机号：</label>
                <div class="col-sm-3">
                    <input type="text" id="vipTel" name="vipTel" class="form-control" />

                </div>
                <div class="col-sm-1">
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="vipSearch()"><i class="fa fa-search"></i>&nbsp;查询</a>
                </div>
                    <label hidden class="col-sm-3 control-label  vipInfo" style="text-align: left"></label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">应付金额：</label>
                <label class="col-sm-3 control-label" id="sum" style="text-align: left">0</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">
                    <p><a id="settlementBtn" class="btn btn-primary btn-rounded btn-sm" onclick="settlement()"><i class="fa fa-credit-card"></i>&nbsp;结算</a></p>
                </label>
            </div>

        </form>
        <div id="printArea" style="display: none">
            <table id="printTable" >
                <tr>
                    <td colspan="3">爱婴坊母婴生活馆</td>
                </tr>
                <tr>
                    <td>订单编号</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>购买时间</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/js/jQuery.print.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:vip:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:vip:remove')}]];
    var prefix = ctx + "system/cashier";
    var goodList = [];
    var vipId = null;

    initGoodListTable();

    $('[name=payType]').change(function(){
        if($(this).val() == 1){
            $('.vipBox').show();
        }else {
            $('.vipBox').hide();
        }
    })
    function addGoodToList(rowNum){
        let sum = Number($('#sum').text());
        let data= $('#bootstrap-table').bootstrapTable('getData',{useCurrentPage:true,includeHiddenRows:true});
        let row = data[rowNum];
        row.stock = row.stock - 1;
        $('#bootstrap-table').bootstrapTable('updateRow', {
            index: rowNum,
            row: row
        });
        let map = checkIdenticalGood(row);
        if(map.uppdateIndex == undefined){
            row.count  = row.count + 1;
            $('#good-list').bootstrapTable('append',row);
            $('#sum').text(sum + row.prices);
        }else{
            $('#good-list').bootstrapTable('updateRow', {
                index: map.uppdateIndex,
                row: map.row
            });
            $('#sum').text(sum + map.row.prices);
        }

    }

    function vipSearch(){
        let vipTel = $('#vipTel').val();
        let url = prefix + "/vipSearch";
        $.operate.submitNoTable(url, "post", "json", {tel : vipTel}, successFuc);
    }

    function successFuc(result){
        console.log(result)
     let data = result.data;
     if(data != undefined){
         vipId = data.id
        $('.vipInfo').text('会员'+data.name+'，当前余额：'+data.balance)
         $('.vipInfo').show();
     }else{
         $('#vipTel').val("")
         $('.vipInfo').hide();
         $.modal.alertWarning('无此会员！');
     }
    }
    function checkIdenticalGood(good){
        let map = {};
        let dataList = $('#good-list').bootstrapTable('getData',{includeHiddenRows:true});
        if(dataList.length > 0){
            for(let data of dataList){
                if(data.id == good.id){
                    data.count = data.count + 1;
                    map.uppdateIndex = dataList.indexOf(data);
                    map.row = data;
                }
            }
        }
        return map;
    }
    function removeGood(goodIndex){
        let row = $('#good-list').bootstrapTable('getRowByUniqueId',goodIndex);
        let sum = Number($('#sum').text());
        let goodRow = $('#bootstrap-table').bootstrapTable('getRowByUniqueId',goodIndex,{includeHiddenRows:true});
        console.log(goodRow);
        goodRow.stock = Number(goodRow.stock) + Number(row.count);
        $('#bootstrap-table').bootstrapTable('updateRow', {
            id: goodIndex,
            row: goodRow
        });
        $('#good-list').bootstrapTable('remove', {
            field:'id',
            values: [parseInt(goodIndex)]
        })
        $('#sum').text(sum - (Number(row.prices) * Number(row.count)));
    }


    function currentGoodMinus(id,index){
        let _this = $('#good'+id);
        let newCount = $(_this).val()
        if(isNumber($(_this).val()) == false){
            $(_this).val('');
            return;
        }
        let goodRow = $('#bootstrap-table').bootstrapTable('getRowByUniqueId',id);
        let sum = Number($('#sum').text());
        let row = $('#good-list').bootstrapTable('getRowByUniqueId',id);
        if(newCount > row.stock){
            $.modal.alertWarning('出售数量超出库存，当前库存'+row.stock);
            return;
        }
        if(row.count > newCount){
            let difference = Number(row.count) - Number(newCount);
            goodRow.stock = Number(goodRow.stock) + Number(difference);
            $('#sum').text(sum - (difference * row.prices));
        }else if(row.count < newCount){
            let difference = Number(newCount) - Number(row.count);
            goodRow.stock = Number(goodRow.stock) - Number(difference);
            $('#sum').text(sum + (difference * row.prices));
        }else if(row.count == newCount){
            return;
        }

        row.count = Number($(_this).val());
        $('#bootstrap-table').bootstrapTable('updateRow', {
            id: id,
            row: goodRow
        });

        $('#good-list').bootstrapTable('updateRow', {
            index: index,
            row: row
        });
    }

    function settlement(){
        let dataList = $('#good-list').bootstrapTable('getData',{useCurrentPage:true,includeHiddenRows:true});
        let url = prefix+"/settlement";
        let cashier = {};
        cashier.vipId = vipId;
        cashier.goodList = dataList;
        $.operate.submitForJson(url, "post", "json", JSON.stringify(cashier), settlementSuccess);

    }

    function settlementSuccess(result){
        if(result.data.error != undefined && result.data.error != ''){
             $.modal.alertWarning(result.data.error);
        }else{
            $.modal.alertSuccess(result.data.success);
            $('#printTable').find('tr').eq(1).find('td').eq(2).text(result.data.order.id)
            $('#printTable').find('tr').eq(2).find('td').eq(2).text(result.data.order.createTime)
            var goodList = result.data.goodList;
            for (var good of goodList){
                $('#printTable').append('<tr><td>'+good.name+'</td><td>'+good.prices+'元</td><td>*'+good.count+'</td></tr>')
            }
            $('#printTable').append('<tr><td colspan="3">合计：'+result.data.order.amount+'元</td></tr>');
           /*  $('#printArea').printArea(); */
            $('#printTable').find('tr').eq(1).find('td').eq(2).text('')
            $('#printTable').find('tr').eq(2).find('td').eq(2).text('')
            $('#printTable').find('tr').eq(2).nextAll().remove();

            setTimeout(function(){ location.reload(); }, 1500);
        }

    }

    function isNumber(value) {
        let patrn = /^\+?[1-9][0-9]*$/;
        if (patrn.exec(value) == null || value == "") {
            return false
        } else {
            return true
        }
    }


    function initGoodListTable(){

    $('#good-list').bootstrapTable({
        formatNoMatches:function(){
            return "购物车中未添加商品~";
        },
        data: [],
        uniqueId:'id',
        height: '430',
        columns:[{
            field: 'id',
            title: '商品ID',
            visible: false
        },
            {
                field: 'stock',
                title: '库存',
                visible: false
            },
        {
            field: 'name',
            title: '商品名称',
        },
        {
            field: 'prices',
            title: '单价',
        },
        {
            field: 'count',
            title: '数量'
        },
        {
            title: '操作',
            align: 'center',
            formatter: function(value, row, index) {
                var actions = [];
                actions.push('<div class="form-inline"><input class="form-control form-inline" id="good'+row.id+'" style="width: 130px;" placeholder="请输入商品数量" onblur="currentGoodMinus(' + row.id + ',' +index+')" />  <a class="btn btn-danger btn-xs form-inline" href="javascript:void(0)" onclick="removeGood(' + row.id + ')"><i class="fa fa-remove"></i></a> </div>');
                actions.push('');
                return actions.join('');
            }
        }
        ]
    })
    }
    $(function() {
        var options = {
            uniqueId:'id',
            showRefresh:false,
            showSearch:false,
            showToggle:false,
            showColumns:false,
            paginationLoop:true,
            onlyInfoPagination:true,
            pagination:false,
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            unlockUrl:prefix + "/unlock",
            rechargeUrl:prefix+"/recharge/{id}",
            modalName: "会员",
            columns: [
                {
                    field: 'id',
                    title: '商品ID',
                    visible: false
                },
                {
                    field: 'stock',
                    title: '库存',
                    visible: false
                },
                {
                    field: 'barCode',
                    title: '条码'
                },
                {
                    field: 'name',
                    title: '商品名称'
                },
                {
                    field: 'prices',
                    title: '单价',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="addGoodToList(' + index + ')"><i class="fa fa-edit"></i>售卖</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    });
</script>
</body>
</html>