<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.order.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="vipId"    column="vip_id"    />
        <result property="amount"    column="amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectOrderVo">
        select id, vip_id, amount, create_by, create_time, update_by, update_time, status from sys_order
    </sql>

    <select id="selectOrderList" parameterType="Order" resultType="Order">
        select t1.id as id, t2.name as vipName, t2.tel as tel, t1.amount as amount, t1.create_by as createBy, t1.create_time as createTime, t1.update_by as updateBy, t1.update_time as updateTime, t1.status as status from sys_order t1 left join sys_vip t2 on t1.vip_id = t2.id
        <where>  
            <if test="vipName != null and vipName != '' "> and t2.name = #{vipName}</if>
            <if test="id != null and id != '' "> and t1.id = #{id}</if>
            <if test="tel != null and tel != '' "> and t2.tel = #{tel}</if>
            <if test="createTime != null and createTime != ''"> and t1.create_time BETWEEN #{createTime} AND #{updateTime}</if>
        </where>
        order by t1.create_time desc
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into sys_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">vip_id,</if>
            <if test="amount != null ">amount,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="status != null  and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vipId != null ">#{vipId},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update sys_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipId != null ">vip_id = #{vipId},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from sys_order where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from sys_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDetailById" resultType="OrderDetail" parameterType="Long">
        select t1.id as id, t1.order_id as orderId,t1.commodity_id as commodityId, t2.name as goodName, t2.prices as prices, t1.number_of as numberOf from sys_order_detail t1 left join sys_good t2 on t1.commodity_id = t2.id where t1.order_id = #{id} and t1.status = 0
    </select>
    
</mapper>